.header{
    background-color: #141f40;
    width: 400px;
    height: 100px;
    margin: auto;
}

.contents{
    width: 400px;
    height: 250px;
    margin: auto;
}

.left{
    background-color: #80bfa8;
    width: 150px;
    height: 250px;
    float: left;
}
.right-wrapper{
    float: right;
}

.right-upper{
    width: 250px;
    height: 150px;
}

.center-upper{
    background-color:#dbd400;
    width: 150px;
    height: 50px;
}

.center{
    float: left;
}

.center-lower{
    background-color: #0093b7;
    width: 150px;
    height: 100px;
}

.right{
    background-color: #ff9e8b;
    width: 100px;
    height: 150px;
    float: right;
}

.lower{
    background-color: #8c2727;
    width: 250px;
    height: 100px;
}

.footer{
    background-color: #d98d30;
    width: 400px;
    height: 100px;
    margin: auto;
}

.clearfix::after{
    content: '';
    display: block; 
    clear: both;
}

