.wrapper{
    width: 400px;
    height: 450px;
    margin: auto;
}

.header{
    background-color: #141f40;
    width: 400px;
    height: 100px;
}

.contents{
    width: 400px;
    height: 250px;
}

.left{
    width: 150px;
    height: 250px;
    background-color:#80bfa8;
    float: left;
}
.right-wrapper{
    width: 250px;
    height: 250px;
    float: right;
}
.right-header{
    width: 250px;
    height: 100px;
    background-color: #0093b7;
}
.right-left{
    width: 100px;
    height: 150px;
    background-color: #dbd403;
    float: left;
}
.right-upper{
    width: 150px;
    height: 50px;
    background-color: #ff9e6b;
    float: right;
}
.right-lower{
    width: 150px;
    height: 100px;
    background-color: #8c2727;
    float: right;
}
.footer{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}